/* =========================
   RESET GLOBALS
========================= */

*, *::before, *::after {
    box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* =========================
   BASE STYLES
========================= */

@font-face {
  font-family: "Inter Tight";
  src: url("resources/fonts/InterTight-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src: url("resources/fonts/InterTight-Italic-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Changes font, sets background color, and set margin and padding to 0 for the body */
body {
    font-family: "Inter Tight", sans-serif;
    background-color: #EDE7D9;
    margin: 0px;
    padding: 0px;
}

/* Sets font thickness for headings */
h1, h2, h3 {
    font-weight: 550;
}

/* =========================
   LAYOUT
========================= */

/* Sets main layout to grid with gap between sections */
main {
    width: 100%;
    display: grid;
    gap: 10px;
}

/* Container to center content and set max width */
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0px auto;
    padding: 0px 20px;
    box-sizing: border-box;
}

/* Sets section to use full width */
section {
    width: 100%;
    padding: 10px 0px;
    text-align: center;
}

/* =========================
   COMPONENTS
========================= */

/* Hero section styling */
.hero-section {
    background-color: #3587A4;
}

.headshot-img {
    width: 350px;
    height: auto;
    border-radius: 47.5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1)
}

.background-box {
    background-color: #4b4237;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Resume  styling */
.resume-card {
    width: 100%;
    max-width: 420px;
    height: auto;
    margin: 0px auto;
    padding: 6px;
    background-color: #A49694;
    border-radius: 9.375%;
    box-shadow: 4px 10px 25px rgba(0, 0, 0, 1);
}

.resume-card img {
    width: 80%;
    height: auto;
}

.resume-card img:hover {
    transform: scale(1.03);
    border: 1px solid black;
}

/* Featured Projects section styling (index) */

.project-row {
    display: grid;
    justify-content: center;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.project-card {
    width: 100%;
    padding: 5px;
    background-color: #A49694;
    border-radius: 9.375%;
    box-shadow: 4px 10px 25px rgba(0, 0, 0, 1);
}

.project-card img {
    width: 80%;
    height: auto;
    border-radius: 9.375%;
}

.home-project-img {
    width: 100%;
    height: auto;
}

.home-project-img:hover {
    transform: scale(1.03);
    border: 1px solid black;
}

/* Projects page section styling */

.project-item {
    padding: 10px;
    border-radius: 3%;
    margin: 24px 0;

    background-color: #A49694;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.project-item img {
    width: 25%;
    height: auto;
    border-radius: 9.375%;
}

.project-item img:hover {
    transform: scale(1.03);
    border: 1px solid black;
}

/* Coursework section styling */

.coursework-row {
    display: grid;
    justify-content: center;
    padding: 20px;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

    background-color: #4b4237;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    border-radius: 3.125%;
}

.course-item {
    width: 75%;
    height: auto;
    padding: 12px;
    margin: 0px auto;

    display: grid;
    align-items: center;
    justify-content: center;

    background-color: #A49694;
    border-radius: 9.375%;
    box-shadow: 4px 10px 25px rgba(0, 0, 0, 1);

    overflow: hidden
}

.course-item:hover {
    transform: translateY(-4px);
    box-shadow: 8px 20px 50px rgba(0, 0, 0, 1);
    border: 1px solid black;
}

.course-item img {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 9.375%;
}

.course-item img:hover {
    transform: scale(1.03);
    border: 1px solid black;
}

.gallery-item {
    margin: 12px auto;
}

.gallery-item img {
    width: 400px;
    height: auto;
}

.gallery-item img:hover {
    transform: scale(1.03);
    border: 1px solid black;
}

/*Footer styling */

.footer-contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-contact img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.footer-contact a {
  display: inline-flex;
  align-items: center;
}

/* Table styling */

table {
  margin: 0 auto;
}

th {
  background-color: #3587A4;
  color: white;
}

tr:nth-child(odd) {
    background-color: #A49694;
}

tr:nth-child(even) {
    background-color: white;
}

/* =========================
   NAVBAR
========================= */

/* sets navbar to flexbox, aligns items, and sets background color and padding */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4b4237;
    padding: 0px 20px;
}

/* sets navbar list to flexbox and removes default list styling */
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

/* styles navbar links */
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a.active {
    background-color: #A49694 ;
}

nav li a:hover {
    background-color: #736B60;
}

/* =========================
   MEDIA QUERIES
========================= */
@media (max-width: 600px) {
  .gallery-item img {
    width: 100%;
    max-width: 100%;
  }
}
